<div class="notification">
    <div class="welcome">
        <h1>Witaj {{currentUser.name}}!</h1>
        <p><a [routerLink]="['/login']">Wyloguj</a></p>
    </div>
    <div class="returnBooks">
        <h4>WYPOŻYCZONE</h4>
        <!-- Przykladowe dane -->
        <table>
          <tr>
            <td>
              <h5>Java. Współbieżność dla praktyków</h5>
            </td>
            <td>
              <h5>Termin oddania: 14.06.2017</h5>
            </td>
            <td>
              <h5>Przedluż</h5>
            </td>
          </tr>
          <tr>
            <td>
              <h5>Main Kampf</h5>
            </td>
            <td>
              <h5>Termin oddania: 10.06.2017</h5>
            </td>
            <td>
              <h5>Przedluż</h5>
            </td>
          </tr>
        </table>
    </div>
    <div class="queue">
        <h4>ZAREZERWOWANE</h4>
        <table>
          <tr class="tableSpace">
            <td>
              <h5>Przetwarzanie adaptacyjne i tablicowe</h5>
            </td>
            <td>
              <h5>Kolejka: 0</h5>
            </td>
            <td>
              <h5>Wolna</h5>
            </td>
          </tr>
          <tr>
            <td>
              <h5>KSW dla początkujących</h5>
            </td>
            <td>
              <h5>Kolejka: 2</h5>
            </td>
            <td>
              <h5>Wypożyczona</h5>
            </td>
          </tr>
        </table>
    </div>
</div>
