<div class="center-section">
  <div class="add-section">
    <div class="col-md-6 left-side">
      <form class="add-book-form" #f="ngForm" (ngSubmit)="createBook()">
        <div class="form-amazon">
          <label id="amazon" for="amazon">Amazon link</label>
          <input type="text" name="amazon" disabled>
          <button class="btn btn-primary btn-md active" disabled>Search</button>

        </div>
        <div class="form-group">
          <label for="title">Tytuł</label>
          <input type="text" name="title" [(ngModel)]="model.title" #title="ngModel">

        </div>
        <div class="form-group">
          <label for="author">Autor</label>
          <input type="text" name="author" [(ngModel)]="model.author" #author="ngModel">

        </div>
        <div class="form-group">
          <label for="isbn">isbn</label>
          <input type="text" name="isbn" [(ngModel)]="model.isbn" #isbn="ngModel">

        </div>
        <div class="form-group">
          <label for="description">Opis</label>
          <textarea rows="3" cols="42" type="text" name="description" [(ngModel)]="model.description" #description="ngModel">
           </textarea>
        </div>

        <button class="btn btn-primary btn-md btn-reg active">Zatwierdz</button>
      </form>
    </div>
    <div class="col-md-6 right-side">
      <div class="QRsection">
        <div class="QR">
          <ngx-qrcode [qrc-element-type]="elementType" [qrc-value] = "value">
          </ngx-qrcode>
        </div>
        <button class="btn btn-primary btn-md btn-reg active">Drukuj</button>

      </div>
    </div>
  </div>
</div>
