<form class="login-form" role="form" #f="ngForm" (ngSubmit)="f.from.valid && login()">
  <div class="form-group">
  <label for="email">Adres e-mail</label>
  <input type="text" name="email" class="form-control" [(ngModel)] = "model.email" #email="ngModel" placeholder="twojadres@buziaczek.pl" required >
  </div>
  <div class="form-group">
  <label for="password">Hasło</label>
  <input type="password" name="password" hexadecimal class="form-control" [(ngModel)] = "model.password" #password="ngModel" placeholder="Hasło" required>
  </div>
  <button class="btn btn-primary btn-md btn-login active"> Zaloguj </button>
  <p>Nie masz konta? <a [routerLink]="['/registration']">Rejestracja</a></p>
</form>
