<nav class="navbar navbar-default navbar-static-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="#">BOOKS SHARING</a>
        </div>
        <div class="collapse navbar-collapse" id="navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li><a routerLink="search">Szukaj</a></li>
                <li><a routerLink="bookslist">Lista książek</a></li>
                <li><a routerLink="addbook">Dodaj książkę</a></li>
                <li><a routerLink="notifications">Powiadomienia</a></li>
                <li><a routerLink="settings">Konto</a></li>
            </ul>
        </div>

    </div>
</nav>
<div class="container main-content">
    <router-outlet></router-outlet>
</div>
